# Dependencies
node_modules/
frontend/node_modules/

# Environment variables (Crucial for security!)
.env

# Local database / state
db.json

# Logs
logs/
*.log

# Build files
dist/
build/
frontend/dist/
frontend/build/
.DS_Store
